<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context-3.0.xsd
	   		http://www.springframework.org/schema/mvc 
	   		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd ">
	
	<context:annotation-config />  
	
	<context:component-scan base-package="com.zhclab.dragon.controller" />
	
	<mvc:annotation-driven />
	
	<!-- 静态资源访问 -->  
    <mvc:resources location="/img/" mapping="/img/**" />  
    <mvc:resources location="/js/" mapping="/js/**" />  
    
	<!-- Declare a view resolver -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver" 
    		p:prefix="/WEB-INF/jsp/" p:suffix=".jsp" />

	<bean id="multipartResolver"  
    	class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
    <!-- set the max size to upload 10MB -->  
    <property name="maxUploadSize">  
        <value>10485760</value>  
    </property>  
	</bean>
	
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" >  
        <property name="messageConverters">
     		<ref bean="mappingJacksonHttpMessageConverter" />
   		</property>
   </bean>
     
   <bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />
	
</beans>
